 /* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
	.navbar-brand {max-width: 200px !important;}
	.top-banner-content {padding-top: 0; z-index: 1;}
	.top-banner { padding-top: 15px;}
	.top-banner-content .banner-title {
	    font-size: 52px;
	    line-height: 55px;
	}
	.banner-btn {flex-direction: column;}
	.banner-img {
	    min-width: 315px;
	    z-index: 0;
			margin-top: -145px;
			opacity: .6;
	}
	.appointment-section{
		background-size: cover;
		padding: 20px 15px;
		margin-top: -60px;
	}
	.appointment-form{
		position: relative;
		display: flex;
		flex-direction: column;
	}
	.appointment-form .col{margin-bottom: 15px;}
	.appointment-section p{margin: 0 5px 15px 5px;}
	.about-company img{width: 100%; margin-bottom: 25px;}
	.title{font-size: 28px;line-height: 40px;}
	.title span{font-size: 32px;}
	.section-title .title {
	    font-size: 35px;
	    line-height: 42px;
	}
	.testimonial-section {
	    padding-top: 70px;
	    padding-bottom: 104px;
	}
	.section-title .para{padding-bottom: 0;}
	.newslatter-input {margin-left: 0!important;}
	.footer-contact-icons{margin-top: 20px;}
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {...}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {...}

/* Large devices (laptops/desktops, 992px and up) */
@media (max-width: 992px){

}
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {...}
